/* Remember to add flex wrap parameters */

/* TITLE */

/* MAIN MENU */

.main-menu {
  background: black;
  height: 100%;
  padding-top: 2rem;
}

@media only screen and (max-width: 963px) {
  .main-menu {
    display: none;
  }
}

.main-menu a {
  color: white;
  text-decoration: none;
}

.menu-item {
  padding-left: 0.4rem;
  height: 48px;
  clear: both;
}

.menu-icon {
  width: 24px;
  margin: 0;
  float: left;
  padding: 0 1rem;
}

.menu-text {
  margin: 0;
  font-size: 1rem;
  text-transform: uppercase;
  float: left;
}
